<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:if="${session.username.role.equals('Admin')}" th:href="@{/professors/form}" class="btn btn-success btn-xs">Create Professor</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Card Number</th>
							<th>Full name</th>
							<th>Active</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="professor: ${professors}">
							<td th:text="${professor.cardNumber}"></td>
							<td th:text="${professor.fullname}"></td>
							<td th:if="${professor.active}" th:text="Yes"></td>
							<td th:unless="${professor.active}" th:text="No"></td>
							<td th:if="${session.username.role.equals('Admin')}"><a th:href="@{/professors/form/} + ${professor.id}"
								th:text="'Edit'" class="btn btn-success btn-xs"></a></td>
							<td th:if="${session.username.role.equals('Admin')}"><a th:href="@{/professors/delete/} + ${professor.id}"
								th:text="'Delete'" class="btn btn-danger btn-xs"
								onclick="return confirm('Are you sure you want to delete it?');"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>