<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:if="${session.username.role.equals('Admin')}" th:href="@{/subjects/form}" class="btn btn-success btn-xs">Create Subject</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Name</th>
							<th>Available Quota</th>
							<th>Detail</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="subject: ${subjects}">
							<td th:text="${subject.name}"></td>
							<td th:text="${subject.maxQuota}"></td>
							<td><a th:href="@{/subjects/detail/} + ${subject.id}"
								th:text="'See detail'" class="btn btn-info btn-xs"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>